body {
  margin:0px;
  background-image:none;
  position:relative;
  left:-40px;
  width:950px;
  margin-left:auto;
  margin-right:auto;
  text-align:left;
}
.form_sketch {
  border-color:transparent;
  background-color:transparent;
}
#base {
  position:absolute;
  z-index:0;
}
#u1481_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:950px;
  height:540px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:3px 3px 5px rgba(0, 0, 0, 0.349019607843137);
  -webkit-box-shadow:3px 3px 5px rgba(0, 0, 0, 0.349019607843137);
  box-shadow:3px 3px 5px rgba(0, 0, 0, 0.349019607843137);
}
#u1481 {
  border-width:0px;
  position:absolute;
  left:40px;
  top:180px;
  width:950px;
  height:540px;
  display:flex;
}
#u1481 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u1481_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u1482 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u1483_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:137px;
  height:168px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(255, 255, 255, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u1483 {
  border-width:0px;
  position:absolute;
  left:823px;
  top:215px;
  width:137px;
  height:168px;
  display:flex;
}
#u1483 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u1483_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u1484_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:19px;
  height:20px;
}
#u1484 {
  border-width:0px;
  position:absolute;
  left:835px;
  top:223px;
  width:19px;
  height:20px;
  display:flex;
}
#u1484 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u1484_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u1485_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:73px;
  height:12px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:9px;
  color:#000000;
}
#u1485 {
  border-width:0px;
  position:absolute;
  left:859px;
  top:227px;
  width:73px;
  height:12px;
  display:flex;
  font-family:'微软雅黑', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:9px;
  color:#000000;
}
#u1485 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u1485_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u1486 {
  border-width:0px;
  position:absolute;
  left:833px;
  top:249px;
  width:117px;
  height:105px;
}
#u1486_state0 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:117px;
  height:105px;
  -ms-overflow-x:hidden;
  overflow-x:hidden;
  -ms-overflow-y:hidden;
  overflow-y:hidden;
  background-image:none;
  border:none;
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u1486_state0_content {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u1487_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:117px;
  height:92px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(251, 223, 180, 1);
  border-radius:0px;
  -moz-box-shadow:1px 1px 5px rgba(0, 0, 0, 0.349019607843137);
  -webkit-box-shadow:1px 1px 5px rgba(0, 0, 0, 0.349019607843137);
  box-shadow:1px 1px 5px rgba(0, 0, 0, 0.349019607843137);
}
#u1487 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:13px;
  width:117px;
  height:92px;
  display:flex;
}
#u1487 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u1487_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u1488_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:117px;
  height:23px;
  background:inherit;
  background-color:rgba(251, 223, 180, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(251, 223, 180, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#FAF7F1;
}
#u1488 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:117px;
  height:23px;
  display:flex;
  color:#FAF7F1;
}
#u1488 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u1488_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u1489_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  height:15px;
}
#u1489 {
  border-width:0px;
  position:absolute;
  left:7px;
  top:4px;
  width:57px;
  height:15px;
  display:flex;
  font-size:6px;
  color:#FFFFFF;
}
#u1489 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u1489_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u1490_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:40px;
  height:15px;
}
#u1490 {
  border-width:0px;
  position:absolute;
  left:69px;
  top:4px;
  width:40px;
  height:15px;
  display:flex;
  font-size:6px;
  color:#FCFCFC;
}
#u1490 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u1490_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u1491_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:4px;
  height:6px;
}
#u1491 {
  border-width:0px;
  position:absolute;
  left:12px;
  top:5px;
  width:4px;
  height:6px;
  display:flex;
}
#u1491 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u1491_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u1492_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:5px;
  height:6px;
}
#u1492 {
  border-width:0px;
  position:absolute;
  left:73px;
  top:9px;
  width:5px;
  height:6px;
  display:flex;
}
#u1492 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u1492_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u1493 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:23px;
  width:117px;
  height:82px;
}
#u1493_state0 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:117px;
  height:82px;
  -ms-overflow-x:hidden;
  overflow-x:hidden;
  -ms-overflow-y:hidden;
  overflow-y:hidden;
  background-image:none;
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u1493_state0_content {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u1494_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:103px;
  height:62px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  text-align:justify;
  text-justify:inter-word;
}
#u1494 {
  border-width:0px;
  position:absolute;
  left:7px;
  top:7px;
  width:103px;
  height:62px;
  display:flex;
  text-align:justify;
  text-justify:inter-word;
}
#u1494 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u1494_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u1495_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:28px;
  height:12px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:6px;
}
#u1495 {
  border-width:0px;
  position:absolute;
  left:82px;
  top:67px;
  width:28px;
  height:12px;
  display:flex;
  font-size:6px;
}
#u1495 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u1495_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u1496_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:2px;
  height:545px;
}
#u1496 {
  border-width:0px;
  position:absolute;
  left:810px;
  top:178px;
  width:1px;
  height:544px;
  display:flex;
}
#u1496 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u1496_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u1497 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u1498 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u1499_img {
  border-width:0px;
  position:absolute;
  left:-10px;
  top:-10px;
  width:496px;
  height:400px;
}
#u1499 {
  border-width:0px;
  position:absolute;
  left:160px;
  top:210px;
  width:486px;
  height:390px;
  display:flex;
}
#u1499 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u1499_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u1500_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:496px;
  height:400px;
}
#u1500 {
  border-width:0px;
  position:absolute;
  left:160px;
  top:210px;
  width:486px;
  height:390px;
  display:flex;
}
#u1500 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u1500_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u1501_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:399px;
  height:278px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:7px;
  text-align:justify;
  text-justify:inter-word;
}
#u1501 {
  border-width:0px;
  position:absolute;
  left:202px;
  top:282px;
  width:399px;
  height:278px;
  display:flex;
  font-size:7px;
  text-align:justify;
  text-justify:inter-word;
}
#u1501 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u1501_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u1502_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:25px;
  height:25px;
}
#u1502 {
  border-width:0px;
  position:absolute;
  left:202px;
  top:225px;
  width:25px;
  height:25px;
  display:flex;
}
#u1502 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u1502_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u1503_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:10px;
  height:10px;
}
#u1503 {
  border-width:0px;
  position:absolute;
  left:596px;
  top:230px;
  width:10px;
  height:10px;
  display:flex;
}
#u1503 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u1503_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u1504_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:32px;
  height:20px;
  background:-webkit-linear-gradient(270deg, rgba(210, 210, 210, 1) 0%, rgba(239, 239, 239, 1) 98%);
  background:-moz-linear-gradient(180deg, rgba(210, 210, 210, 1) 0%, rgba(239, 239, 239, 1) 98%);
  background:linear-gradient(180deg, rgba(210, 210, 210, 1) 0%, rgba(239, 239, 239, 1) 98%);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(235, 235, 235, 1);
  border-radius:3px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:10px;
  color:#000000;
}
#u1504 {
  border-width:0px;
  position:absolute;
  left:561px;
  top:566px;
  width:32px;
  height:20px;
  display:flex;
  font-size:10px;
  color:#000000;
}
#u1504 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u1504_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u1505_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:32px;
  height:20px;
  background:-webkit-linear-gradient(270deg, rgba(210, 210, 210, 1) 0%, rgba(239, 239, 239, 1) 98%);
  background:-moz-linear-gradient(180deg, rgba(210, 210, 210, 1) 0%, rgba(239, 239, 239, 1) 98%);
  background:linear-gradient(180deg, rgba(210, 210, 210, 1) 0%, rgba(239, 239, 239, 1) 98%);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(235, 235, 235, 1);
  border-radius:3px;
  -moz-box-shadow:1px 1px 8px rgba(0, 0, 0, 0.349019607843137);
  -webkit-box-shadow:1px 1px 8px rgba(0, 0, 0, 0.349019607843137);
  box-shadow:1px 1px 8px rgba(0, 0, 0, 0.349019607843137);
  font-size:10px;
  color:#000000;
}
#u1505 {
  border-width:0px;
  position:absolute;
  left:561px;
  top:566px;
  width:32px;
  height:20px;
  display:flex;
  font-size:10px;
  color:#000000;
}
#u1505 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u1505_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u1506_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:99px;
  height:15px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:11px;
  text-align:center;
}
#u1506 {
  border-width:0px;
  position:absolute;
  left:352px;
  top:250px;
  width:99px;
  height:15px;
  display:flex;
  font-family:'微软雅黑', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:11px;
  text-align:center;
}
#u1506 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u1506_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u1507_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:403px;
  height:2px;
}
#u1507 {
  border-width:0px;
  position:absolute;
  left:200px;
  top:266px;
  width:402px;
  height:1px;
  display:flex;
}
#u1507 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u1507_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u1508_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:77px;
  height:15px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:11px;
  text-align:center;
}
#u1508 {
  border-width:0px;
  position:absolute;
  left:525px;
  top:250px;
  width:77px;
  height:15px;
  display:flex;
  font-family:'微软雅黑', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:11px;
  text-align:center;
}
#u1508 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u1508_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u1509 {
  border-width:0px;
  position:absolute;
  left:586px;
  top:225px;
  width:30px;
  height:20px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u1510 {
  border-width:0px;
  position:absolute;
  left:70px;
  top:230px;
  width:730px;
  height:480px;
}
#u1510_state0 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:730px;
  height:480px;
  -ms-overflow-x:hidden;
  overflow-x:hidden;
  -ms-overflow-y:hidden;
  overflow-y:hidden;
  background-image:none;
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u1510_state0_content {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u1511 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:753px;
  height:480px;
}
#u1511_state0 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:753px;
  height:480px;
  overflow:auto;
  -webkit-overflow-scrolling:touch;
  -ms-overflow-x:hidden;
  overflow-x:hidden;
  background-image:none;
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u1511_state0_content {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u1512 {
  position:absolute;
  left:0px;
  top:0px;
}
#u1512_state0 {
  position:relative;
  left:0px;
  top:0px;
  width:720px;
  height:40px;
  background-image:none;
  border:none;
  border-radius:0px;
  -moz-box-shadow:0px 5px 10px rgba(0, 0, 0, 0.349019607843137);
  -webkit-box-shadow:0px 5px 10px rgba(0, 0, 0, 0.349019607843137);
  box-shadow:0px 5px 10px rgba(0, 0, 0, 0.349019607843137);
}
#u1512_state0_content {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
.u1514_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:120px;
  height:40px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(127, 127, 127, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:16px;
  color:#337AB7;
}
.u1514 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:120px;
  height:40px;
  display:flex;
  font-size:16px;
  color:#337AB7;
}
.u1514 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
.u1514_div.selected {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:120px;
  height:40px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(127, 127, 127, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:16px;
  color:#337AB7;
}
.u1514.selected {
}
.u1514_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u1513-1 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:120px;
  height:40px;
}
#u1513-2 {
  border-width:0px;
  position:absolute;
  left:120px;
  top:0px;
  width:120px;
  height:40px;
}
#u1513-3 {
  border-width:0px;
  position:absolute;
  left:240px;
  top:0px;
  width:120px;
  height:40px;
}
#u1513-4 {
  border-width:0px;
  position:absolute;
  left:360px;
  top:0px;
  width:120px;
  height:40px;
}
#u1513-5 {
  border-width:0px;
  position:absolute;
  left:480px;
  top:0px;
  width:120px;
  height:40px;
}
#u1513-6 {
  border-width:0px;
  position:absolute;
  left:600px;
  top:0px;
  width:120px;
  height:40px;
}
#u1513 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:720px;
  height:40px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
}
.u1516_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:720px;
  height:80px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:13px;
  color:#7F7F7F;
}
.u1516 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:720px;
  height:80px;
  display:flex;
  font-size:13px;
  color:#7F7F7F;
}
.u1516 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
.u1516_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
.u1517_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:60px;
  height:60px;
}
.u1517 {
  border-width:0px;
  position:absolute;
  left:29px;
  top:10px;
  width:60px;
  height:60px;
  display:flex;
}
.u1517 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
.u1517_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
.u1518_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:256px;
  height:26px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:20px;
  color:#337AB7;
}
.u1518 {
  border-width:0px;
  position:absolute;
  left:104px;
  top:14px;
  width:256px;
  height:26px;
  display:flex;
  font-size:20px;
  color:#337AB7;
}
.u1518 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
.u1518_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
.u1519_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:42px;
  height:19px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#7F7F7F;
}
.u1519 {
  border-width:0px;
  position:absolute;
  left:328px;
  top:50px;
  width:42px;
  height:19px;
  display:flex;
  color:#7F7F7F;
}
.u1519 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
.u1519_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
.u1520_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:42px;
  height:19px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#7F7F7F;
}
.u1520 {
  border-width:0px;
  position:absolute;
  left:388px;
  top:50px;
  width:42px;
  height:19px;
  display:flex;
  color:#7F7F7F;
}
.u1520 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
.u1520_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
.u1521_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:42px;
  height:19px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#7F7F7F;
}
.u1521 {
  border-width:0px;
  position:absolute;
  left:448px;
  top:50px;
  width:42px;
  height:19px;
  display:flex;
  color:#7F7F7F;
}
.u1521 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
.u1521_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
.u1522_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:28px;
  height:19px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#7F7F7F;
}
.u1522 {
  border-width:0px;
  position:absolute;
  left:514px;
  top:50px;
  width:28px;
  height:19px;
  display:flex;
  color:#7F7F7F;
}
.u1522 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
.u1522_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
.u1523_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:156px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:14px;
  color:#7F7F7F;
  text-align:left;
}
.u1523 {
  border-width:0px;
  position:absolute;
  left:104px;
  top:50px;
  width:156px;
  height:20px;
  display:flex;
  font-size:14px;
  color:#7F7F7F;
  text-align:left;
}
.u1523 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
.u1523_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
.u1524 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:720px;
  height:80px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u1515-1 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:720px;
  height:80px;
}
#u1515-2 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:80px;
  width:720px;
  height:80px;
}
#u1515-3 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:160px;
  width:720px;
  height:80px;
}
#u1515-4 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:240px;
  width:720px;
  height:80px;
}
#u1515-5 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:320px;
  width:720px;
  height:80px;
}
#u1515 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:40px;
  width:720px;
  height:400px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
}
