body {
  margin:0px;
  background-image:none;
  position:relative;
  left:-20px;
  width:1000px;
  margin-left:auto;
  margin-right:auto;
  text-align:left;
}
.form_sketch {
  border-color:transparent;
  background-color:transparent;
}
#base {
  position:absolute;
  z-index:0;
}
#u1570 {
  border-width:0px;
  position:absolute;
  left:20px;
  top:20px;
  width:1000px;
  height:710px;
}
#u1570_state0 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1000px;
  height:710px;
  -ms-overflow-x:hidden;
  overflow-x:hidden;
  -ms-overflow-y:hidden;
  overflow-y:hidden;
  background-image:none;
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u1570_state0_content {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u1571 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1040px;
  height:730px;
}
#u1571_state0 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1040px;
  height:730px;
  overflow:auto;
  -webkit-overflow-scrolling:touch;
  background-image:none;
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u1571_state0_content {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u1572_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:950px;
  height:540px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:3px 3px 5px rgba(0, 0, 0, 0.349019607843137);
  -webkit-box-shadow:3px 3px 5px rgba(0, 0, 0, 0.349019607843137);
  box-shadow:3px 3px 5px rgba(0, 0, 0, 0.349019607843137);
}
#u1572 {
  border-width:0px;
  position:absolute;
  left:10px;
  top:150px;
  width:950px;
  height:540px;
  display:flex;
}
#u1572 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u1572_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u1573 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u1574_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:137px;
  height:168px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(255, 255, 255, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u1574 {
  border-width:0px;
  position:absolute;
  left:793px;
  top:185px;
  width:137px;
  height:168px;
  display:flex;
}
#u1574 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u1574_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u1575_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:19px;
  height:20px;
}
#u1575 {
  border-width:0px;
  position:absolute;
  left:805px;
  top:193px;
  width:19px;
  height:20px;
  display:flex;
}
#u1575 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u1575_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u1576_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:73px;
  height:12px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:9px;
  color:#000000;
}
#u1576 {
  border-width:0px;
  position:absolute;
  left:829px;
  top:197px;
  width:73px;
  height:12px;
  display:flex;
  font-family:'微软雅黑', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:9px;
  color:#000000;
}
#u1576 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u1576_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u1577 {
  border-width:0px;
  position:absolute;
  left:803px;
  top:219px;
  width:117px;
  height:105px;
}
#u1577_state0 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:117px;
  height:105px;
  -ms-overflow-x:hidden;
  overflow-x:hidden;
  -ms-overflow-y:hidden;
  overflow-y:hidden;
  background-image:none;
  border:none;
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u1577_state0_content {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u1578_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:117px;
  height:92px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(251, 223, 180, 1);
  border-radius:0px;
  -moz-box-shadow:1px 1px 5px rgba(0, 0, 0, 0.349019607843137);
  -webkit-box-shadow:1px 1px 5px rgba(0, 0, 0, 0.349019607843137);
  box-shadow:1px 1px 5px rgba(0, 0, 0, 0.349019607843137);
}
#u1578 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:13px;
  width:117px;
  height:92px;
  display:flex;
}
#u1578 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u1578_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u1579_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:117px;
  height:23px;
  background:inherit;
  background-color:rgba(251, 223, 180, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(251, 223, 180, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#FAF7F1;
}
#u1579 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:117px;
  height:23px;
  display:flex;
  color:#FAF7F1;
}
#u1579 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u1579_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u1580_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  height:15px;
}
#u1580 {
  border-width:0px;
  position:absolute;
  left:7px;
  top:4px;
  width:57px;
  height:15px;
  display:flex;
  font-size:6px;
  color:#FFFFFF;
}
#u1580 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u1580_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u1581_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:40px;
  height:15px;
}
#u1581 {
  border-width:0px;
  position:absolute;
  left:69px;
  top:4px;
  width:40px;
  height:15px;
  display:flex;
  font-size:6px;
  color:#FCFCFC;
}
#u1581 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u1581_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u1582_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:4px;
  height:6px;
}
#u1582 {
  border-width:0px;
  position:absolute;
  left:12px;
  top:5px;
  width:4px;
  height:6px;
  display:flex;
}
#u1582 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u1582_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u1583_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:5px;
  height:6px;
}
#u1583 {
  border-width:0px;
  position:absolute;
  left:73px;
  top:9px;
  width:5px;
  height:6px;
  display:flex;
}
#u1583 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u1583_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u1584 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:23px;
  width:117px;
  height:82px;
}
#u1584_state0 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:117px;
  height:82px;
  -ms-overflow-x:hidden;
  overflow-x:hidden;
  -ms-overflow-y:hidden;
  overflow-y:hidden;
  background-image:none;
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u1584_state0_content {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u1585_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:103px;
  height:62px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  text-align:justify;
  text-justify:inter-word;
}
#u1585 {
  border-width:0px;
  position:absolute;
  left:7px;
  top:7px;
  width:103px;
  height:62px;
  display:flex;
  text-align:justify;
  text-justify:inter-word;
}
#u1585 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u1585_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u1586_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:28px;
  height:12px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:6px;
}
#u1586 {
  border-width:0px;
  position:absolute;
  left:82px;
  top:67px;
  width:28px;
  height:12px;
  display:flex;
  font-size:6px;
}
#u1586 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u1586_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u1587_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:2px;
  height:545px;
}
#u1587 {
  border-width:0px;
  position:absolute;
  left:780px;
  top:148px;
  width:1px;
  height:544px;
  display:flex;
}
#u1587 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u1587_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u1589 {
  position:absolute;
  left:40px;
  top:200px;
}
#u1589_state0 {
  position:relative;
  left:0px;
  top:0px;
  width:720px;
  height:40px;
  background-image:none;
  border:none;
  border-radius:0px;
  -moz-box-shadow:0px 5px 10px rgba(0, 0, 0, 0.349019607843137);
  -webkit-box-shadow:0px 5px 10px rgba(0, 0, 0, 0.349019607843137);
  box-shadow:0px 5px 10px rgba(0, 0, 0, 0.349019607843137);
}
#u1589_state0_content {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
.u1591_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:120px;
  height:40px;
}
.u1591 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:120px;
  height:40px;
  display:flex;
  font-size:16px;
  color:#337AB7;
}
.u1591 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
.u1591_img.selected {
}
.u1591.selected {
}
.u1591_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u1590-1 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:120px;
  height:40px;
}
#u1590-2 {
  border-width:0px;
  position:absolute;
  left:120px;
  top:0px;
  width:120px;
  height:40px;
}
#u1590-3 {
  border-width:0px;
  position:absolute;
  left:240px;
  top:0px;
  width:120px;
  height:40px;
}
#u1590-4 {
  border-width:0px;
  position:absolute;
  left:360px;
  top:0px;
  width:120px;
  height:40px;
}
#u1590-5 {
  border-width:0px;
  position:absolute;
  left:480px;
  top:0px;
  width:120px;
  height:40px;
}
#u1590-6 {
  border-width:0px;
  position:absolute;
  left:600px;
  top:0px;
  width:120px;
  height:40px;
}
#u1590 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:720px;
  height:40px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
}
.u1593_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:720px;
  height:80px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:13px;
  color:#7F7F7F;
}
.u1593 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:720px;
  height:80px;
  display:flex;
  font-size:13px;
  color:#7F7F7F;
}
.u1593 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
.u1593_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
.u1594_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:60px;
  height:60px;
}
.u1594 {
  border-width:0px;
  position:absolute;
  left:29px;
  top:10px;
  width:60px;
  height:60px;
  display:flex;
}
.u1594 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
.u1594_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
.u1595_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:256px;
  height:26px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:20px;
  color:#337AB7;
}
.u1595 {
  border-width:0px;
  position:absolute;
  left:104px;
  top:14px;
  width:256px;
  height:26px;
  display:flex;
  font-size:20px;
  color:#337AB7;
}
.u1595 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
.u1595_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
.u1596_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:42px;
  height:19px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#7F7F7F;
}
.u1596 {
  border-width:0px;
  position:absolute;
  left:328px;
  top:50px;
  width:42px;
  height:19px;
  display:flex;
  color:#7F7F7F;
}
.u1596 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
.u1596_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
.u1597_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:42px;
  height:19px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#7F7F7F;
}
.u1597 {
  border-width:0px;
  position:absolute;
  left:388px;
  top:50px;
  width:42px;
  height:19px;
  display:flex;
  color:#7F7F7F;
}
.u1597 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
.u1597_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
.u1598_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:42px;
  height:19px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#7F7F7F;
}
.u1598 {
  border-width:0px;
  position:absolute;
  left:448px;
  top:50px;
  width:42px;
  height:19px;
  display:flex;
  color:#7F7F7F;
}
.u1598 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
.u1598_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
.u1599_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:28px;
  height:19px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#7F7F7F;
}
.u1599 {
  border-width:0px;
  position:absolute;
  left:514px;
  top:50px;
  width:28px;
  height:19px;
  display:flex;
  color:#7F7F7F;
}
.u1599 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
.u1599_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
.u1600_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:156px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:14px;
  color:#7F7F7F;
  text-align:left;
}
.u1600 {
  border-width:0px;
  position:absolute;
  left:104px;
  top:50px;
  width:156px;
  height:20px;
  display:flex;
  font-size:14px;
  color:#7F7F7F;
  text-align:left;
}
.u1600 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
.u1600_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
.u1601 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:720px;
  height:80px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u1592-1 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:720px;
  height:80px;
}
#u1592-2 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:80px;
  width:720px;
  height:80px;
}
#u1592-3 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:160px;
  width:720px;
  height:80px;
}
#u1592-4 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:240px;
  width:720px;
  height:80px;
}
#u1592-5 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:320px;
  width:720px;
  height:80px;
}
#u1592 {
  border-width:0px;
  position:absolute;
  left:40px;
  top:240px;
  width:720px;
  height:400px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
}
#u1602 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u1603 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u1604_img {
  border-width:0px;
  position:absolute;
  left:-10px;
  top:-10px;
  width:496px;
  height:400px;
}
#u1604 {
  border-width:0px;
  position:absolute;
  left:130px;
  top:180px;
  width:486px;
  height:390px;
  display:flex;
}
#u1604 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u1604_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u1605_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:496px;
  height:400px;
}
#u1605 {
  border-width:0px;
  position:absolute;
  left:130px;
  top:180px;
  width:486px;
  height:390px;
  display:flex;
}
#u1605 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u1605_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u1606_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:399px;
  height:278px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:7px;
  text-align:justify;
  text-justify:inter-word;
}
#u1606 {
  border-width:0px;
  position:absolute;
  left:172px;
  top:252px;
  width:399px;
  height:278px;
  display:flex;
  font-size:7px;
  text-align:justify;
  text-justify:inter-word;
}
#u1606 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u1606_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u1607_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:25px;
  height:25px;
}
#u1607 {
  border-width:0px;
  position:absolute;
  left:172px;
  top:195px;
  width:25px;
  height:25px;
  display:flex;
}
#u1607 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u1607_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u1608_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:10px;
  height:10px;
}
#u1608 {
  border-width:0px;
  position:absolute;
  left:566px;
  top:200px;
  width:10px;
  height:10px;
  display:flex;
}
#u1608 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u1608_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u1609_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:32px;
  height:20px;
  background:-webkit-linear-gradient(270deg, rgba(210, 210, 210, 1) 0%, rgba(239, 239, 239, 1) 98%);
  background:-moz-linear-gradient(180deg, rgba(210, 210, 210, 1) 0%, rgba(239, 239, 239, 1) 98%);
  background:linear-gradient(180deg, rgba(210, 210, 210, 1) 0%, rgba(239, 239, 239, 1) 98%);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(235, 235, 235, 1);
  border-radius:3px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:10px;
  color:#000000;
}
#u1609 {
  border-width:0px;
  position:absolute;
  left:531px;
  top:536px;
  width:32px;
  height:20px;
  display:flex;
  font-size:10px;
  color:#000000;
}
#u1609 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u1609_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u1610_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:32px;
  height:20px;
  background:-webkit-linear-gradient(270deg, rgba(210, 210, 210, 1) 0%, rgba(239, 239, 239, 1) 98%);
  background:-moz-linear-gradient(180deg, rgba(210, 210, 210, 1) 0%, rgba(239, 239, 239, 1) 98%);
  background:linear-gradient(180deg, rgba(210, 210, 210, 1) 0%, rgba(239, 239, 239, 1) 98%);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(235, 235, 235, 1);
  border-radius:3px;
  -moz-box-shadow:1px 1px 8px rgba(0, 0, 0, 0.349019607843137);
  -webkit-box-shadow:1px 1px 8px rgba(0, 0, 0, 0.349019607843137);
  box-shadow:1px 1px 8px rgba(0, 0, 0, 0.349019607843137);
  font-size:10px;
  color:#000000;
}
#u1610 {
  border-width:0px;
  position:absolute;
  left:531px;
  top:536px;
  width:32px;
  height:20px;
  display:flex;
  font-size:10px;
  color:#000000;
}
#u1610 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u1610_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u1611_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:99px;
  height:15px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:11px;
  text-align:center;
}
#u1611 {
  border-width:0px;
  position:absolute;
  left:322px;
  top:220px;
  width:99px;
  height:15px;
  display:flex;
  font-family:'微软雅黑', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:11px;
  text-align:center;
}
#u1611 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u1611_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u1612_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:403px;
  height:2px;
}
#u1612 {
  border-width:0px;
  position:absolute;
  left:170px;
  top:236px;
  width:402px;
  height:1px;
  display:flex;
}
#u1612 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u1612_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u1613_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:77px;
  height:15px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:11px;
  text-align:center;
}
#u1613 {
  border-width:0px;
  position:absolute;
  left:495px;
  top:220px;
  width:77px;
  height:15px;
  display:flex;
  font-family:'微软雅黑', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:11px;
  text-align:center;
}
#u1613 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u1613_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u1614 {
  border-width:0px;
  position:absolute;
  left:556px;
  top:195px;
  width:30px;
  height:20px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
